/**
* Conteneur
* 1. Optionnel : valeur par défaut
*/
.container {
columns: 3;
column-gap: 1em; /* 1 */
padding: 1em;
} /
**
* Éléments
* 1. Optionnel : valeur par défaut
*/
.item {
width: 100%; /* 1 */
break-inside: avoid-column;
margin-bottom: 1em;
}