img {
position:absolute;
background:white;
padding:20px;
max-width:250px;
/* Ombrage */
-moz-box-shadow: 0px 0px 20px #bbb;
-webkit-box-shadow: 0px 0px 20px #bbb;
box-shadow: 0px 0px 20px #bbb;
/* Transitions */
transition: all 1s ease-out;
-moz-transition: all 1s ease-out;
-webkit-transition: all 1s ease-out;
-o-transition: all 1s ease-out;
}
img:hover {
/* Transformations au survol */
-webkit-transform:rotate(0deg) scale(1.2) !important;
-moz-transform:rotate(0deg) scale(1.2) !important;
-o-transform:rotate(0deg) scale(1.2) !important;
-ms-transform:rotate(0deg) scale(1.2) !important;
transform:rotate(0deg) scale(1.2) !important;
}