p {
padding:0.5em;
margin:0;
font-family:sans-serif;
}
.message {
background:#F1F1F1;
padding:0.5em;
border-top:1px solid #ccc;
}
.erreur {
background:#FF7800;
color:white;
}
.ok {
background:#A9C832;
color:white;
margin-top:0.5em;
}
#maintenant {
font-size:1.5em;
color:#666;
}